<!DOCTYPE html>
<html lang="zh-CN" ng-app="moviecat">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My AngularJS App</title>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="app.css">
</head>
<body>
 <nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">豆瓣电影</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
                <form class="row"  ng-controller="searchController" >
                  <div class="navbar-form navbar-right">
                    <div class="input-group" >
                      <input type="text" class="form-control" placeholder="Search for..." ng-model="input">
                      <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="search()"  >搜索</button>
                      </span>
                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->
                </from><!-- /.row -->
				<!-- <form class="navbar-form navbar-right" ng-controller="searchController" ng-submit="search()">
					<input type="text" class="form-control" placeholder="搜索..." ng-model="input">
				</form> -->
			</div>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<!-- <ul class="nav nav-sidebar" ng-controller="NavController">
					<li ng-class="{active:type=='in_theaters'}"><a href="#/in_theaters/1">正在热映</a></li>
					<li ng-class="{active:type=='coming_soon'}"><a href="#/coming_soon/1">即将上映</a></li>
					<li ng-class="{active:type=='top250'}"><a href="#/top250/1">TOP</a></li>
				</ul> -->
				<ul class="nav nav-sidebar">
					<li auto-Focus><a href="#/in_theaters/1">正在热映</a></li>
					<li auto-Focus><a href="#/coming_soon/1">即将上映</a></li>
					<li auto-Focus><a href="#/top250/1">TOP</a></li>
				</ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-view></div>
		</div>
	</div>

	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
  <!-- 主模块 -->
	  <script src="app.js"></script>
	  <script src="components/http.js"></script>
	  <script src="components/autoFocus.js"></script>
	<!-- 单个模块 -->
	<script src="movieList/controller.js"></script>
	<script src="movie_detail/controller.js"></script>


</body>
</html>
